@import "tailwindcss";

@theme {
  --font-coinbase-sans: 'Coinbase Sans', sans-serif;
  --font-coinbase-mono: 'Coinbase Mono', monospace;
  --font-coinbase-display: 'Coinbase Display', sans-serif;
 
}

